yfinance
shimmy
pandas_datareader
pandas
stable-baselines3
stable-baselines3[extra]
gradio
plotly
gym==0.25.2
gym-notices==0.1.0
gymnasium==1.2.0
numpy==2.0.2
torch==2.8.0
torchao==0.10.0
torchaudio==2.8.0
torchdata==0.11.0
torchsummary==1.5.1
torchtune==0.6.1
torchvision==0.23.0
